:root {
  --nav-anchor-txt-size: 1rem;

  --hero-txt-size: 4.5rem;
  --hero-subtext-size: 2rem;

  --section-header-size: 2.3rem;
  --section-subheader-size: 1rem;

  --card-header-size: 1.5rem;
  --card-txt-size: 1rem;

  --contact-btn-txt-size: 1rem;
  --copyright-txt-size: 0.7rem;

  --primary-dark: #111827;
  --primary-regular: #1E3A8A;
  --primary-light: #3B82F6;
  --base-white: #F9FAFB;
  --base-green: #10B981;
  --basse-yellow: #FACC15;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  max-width: 100vw;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

nav * {
  margin: 0px;
  padding: 0px;
}

nav {
  min-height: 5vh;
  width: 100%;
  margin: 0px;
  padding: 0px;

  background-color: #3B82F6;
  background-image: linear-gradient(to right, hsl(224, 64%, 33%), #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10%;
  /* margin-left: 1%; */
}

.nav-anchor-text {
  width: 100%;
  min-height: 100%;
  text-decoration: none;
  color: var(--base-white);
  font-size: var(--nav-anchor-txt-size);
}

.nav-logo {
  width: 15%;
  padding: 15px;
}

/* Banner image */
#hero {
  min-height: 100vh;
  max-width: 100%;
  background-image: url(../../../assets/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-overlay {
  min-height: 100vh;
  width: 100%;
  backdrop-filter: blur(5px);

  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 4%;
}

.header {
  width: 100%;
  color: var(--base-white);
}

.hero-header {
  font-size: var(--hero-txt-size);
}

.hero-subheader {
  font-size: var(--hero-subtext-size);
}

.cta-button {
  font-size: var(--hero-subtext-size);
  border-radius: 10px;

  font-weight: bold;

  color: var(--base-white);
  background-color: var(--primary-light);
  border: none;
  outline: 3px solid var(--primary-regular);

  padding: 1% 3% 1% 3%;

  margin-top: 5%;
  margin-left: 5%;

  cursor: pointer;

  transition: background-color 0.3s ease, outline-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

/* BEYOND THIS POINT IS  */
/*     ABOUT PAGE        */

#about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2%;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.about-header-container {
  width: 80%;
  font-weight: bold;
  color: var(--primary-light);
}

.about-header-container h2 {
  font-size: var(--section-header-size);
}

.about-header-container>p,
h3 {

  color: var(--primary-regular);
  font-size: var(--section-subheader-size);
}

.about-header-container h3 {
  font-size: var(--section-subheader-size);
  width: 100%;
  margin-top: 2rem;
}

.about-image-container {
  display: none;
}

.about-img {
  height: 100%;
  object-fit: contain;
  object-position: center;

  border-radius: 10px;
}

/* BEYOND THIS POINT IS */
/*    FEATURES PAGE     */

#features {
  width: 100%;
}

.features-header {
  height: 20%;
  text-align: center;
  color: var(--primary-light);
  padding-bottom: 2%;

}

.features-header h2 {

  font-size: var(--section-header-size);
}

.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;

  padding: 10%;
  margin-bottom: 10%;
}

.card {
  min-height: 30vh;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 10px;

  overflow: hidden hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 5%;
  text-wrap: wrap;
}

.card-figure {
  height: 100%;
  width: 100%;
}

.feature-card-img {
  width: 100%;
  border-bottom: 2px solid black;
}

.card-details {
  padding-left: 10%;
  padding-bottom: 10%;

  width: 100%;

  color: var(--base-white);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.text-class {
  translate: 0px 27%;
  scale: 1.7;
}

.card-1 {
  object-fit: cover;
  object-position: top;
  background-color: var(--basse-yellow);
}

.card-1 h3 {
  margin-top: 500x;
}

.card-2 {
  background-color: var(--base-green);

}

.card-3 {
  background-color: var(--primary-light);
}

.card-header {
  color: var(--base-white);
  padding-top: 5%;
  font-size: var(--card-header-size);
}

.card-description {
  padding: 2%;
  padding-right: 20%;
  font-size: var(--card-txt-size);
}

.card-1 h3 {
  padding-top: 48%;
}

/* BEYOND THIS POINT IS */
/*    FOOTER PAGE     */


footer {
  width: 100%;
  background-color: var(--primary-dark);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 10%;
  padding-bottom: 10%;
}

.contact-button {
  font-size: var(--contact-btn-txt-size);
  font-weight: bold;
  border: none;
  border-radius: 10px;

  color: var(--base-white);
  background-color: var(--primary-light);
  outline: 5px solid var(--primary-regular);

  transition: background-color 0.3s ease, outline-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  padding: 4%;
}

hr {
  border-radius: 50px;
  height: 2px;
  width: 90%;
  border: none;
  background-color: var(--base-white);

  margin-top: 10%;
  margin-bottom: 5%
}

footer h3 {
  color: var(--base-white);
  font-size: var(--copyright-txt-size);

  padding: 2%;
}

/* SMALL */

@media (min-width:480px) {

  :root {
    --nav-anchor-txt-size: 1.7rem;

    --hero-txt-size: 6rem;
    --hero-subtext-size: 2.7rem;

    --section-header-size: 3rem;
    --section-subheader-size: 1.3rem;

    --card-header-size: 2.2rem;
    --card-txt-size: 1.5rem;

    --contact-btn-txt-size: 1rem;
    --copyright-txt-size: 1rem;

    --primary-dark: #111827;
    --primary-regular: #1E3A8A;
    --primary-light: #3B82F6;
    --base-white: #F9FAFB;
    --base-green: #10B981;
    --basse-yellow: #FACC15;
  }

  .nav-logo {
    width: 4rem;
  }

  .hero-subheader {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .about-image-container {
    display: none;
  }

}

/* MEDIUM */

@media (min-width:768px) {

  :root {
    --nav-anchor-txt-size: 2rem;

    --hero-txt-size: 7rem;
    --hero-subtext-size: 2.7rem;

    --section-header-size: 3rem;
    --section-subheader-size: 1.4rem;

    --card-header-size: 2.2rem;
    --card-txt-size: 1.5rem;

    --contact-btn-txt-size: 1.7rem;
    --copyright-txt-size: 1.7rem;

    --primary-dark: #111827;
    --primary-regular: #1E3A8A;
    --primary-light: #3B82F6;
    --base-white: #F9FAFB;
    --base-green: #10B981;
    --basse-yellow: #FACC15;
  }

  .nav-logo {
    width: 4.7rem;
  }

  .hero-subheader {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 5%;
  }


  #features {
    padding-top: 20%;
  }

}

/* LARGE */

@media (min-width:1279px) {

  :root {
    --nav-anchor-txt-size: 2rem;

    --hero-txt-size: 10rem;
    --hero-subtext-size: 2.7rem;

    --section-header-size: 5rem;
    --section-subheader-size: 1.7rem;

    --card-header-size: 2.2rem;
    --card-txt-size: 1.5rem;

    --contact-btn-txt-size: 1.7rem;
    --copyright-txt-size: 1.7rem;

    --primary-dark: #111827;
    --primary-regular: #1E3A8A;
    --primary-light: #3B82F6;
    --base-white: #F9FAFB;
    --base-green: #10B981;
    --basse-yellow: #FACC15;
  }

  .nav-logo {
    width: 4.7rem;
  }

  .hero-subheader {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 5%;
  }

  .about-header-container {
    width: 60%;
    /* border: 1px solid; */
  }

  .about-image-container {
    height: 50vh;
    display: inline-block;
  }

  .card {
    height: 55vh;
    width: 25%;
    margin: 0;
  }

  .card-container {
    padding: 0%;
    margin-bottom: 15%;
  }

  footer {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  hr {
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .contact-button {
    padding: 2%;
  }

}


/* EXTRA-LARGE */

@media (min-width:1400px) {

  :root {
    --nav-anchor-txt-size: 2rem;

    --hero-txt-size: 8rem;
    --hero-subtext-size: 2.7rem;

    --section-header-size: 5em;
    --section-subheader-size: 1.6rem;

    --card-header-size: 2.2rem;
    --card-txt-size: 1.5rem;

    --contact-btn-txt-size: 1.7rem;
    --copyright-txt-size: 1.7rem;

    --primary-dark: #111827;
    --primary-regular: #1E3A8A;
    --primary-light: #3B82F6;
    --base-white: #F9FAFB;
    --base-green: #10B981;
    --basse-yellow: #FACC15;
  }

  .nav-logo {
    width: 4.7rem;
  }

  .hero-header {
    width: 70%;
  }

  .hero-subheader {
    margin-top: 3%;
    padding-right: 5%;
    width: 50%;
  }

  #about {
    padding-top: 10%;
  }

  .about-header-container>h3 {

    width: 40vw;
  }

  #features {
    padding-top: 5%;
  }

  .card {
    height: 60vh;
    max-width: 21%;
    width: 28%;
    margin: 0;
  }

  .card-container {
    padding: 0%;
    margin-bottom: 15%;
  }

  footer {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  hr {
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .contact-button {
    padding: 2%;
  }

}