:root {
  --nav-anchor-txt-size: 2rem;

  --hero-txt-size: 7rem;
  --hero-subtext-size: 2rem;

  --section-header-size: 3rem;
  --section-subheader-size: 1.4rem;

  --card-header-size: 1.5rem;
  --card-text-size: 1rem;

  --contact-btn-txt-size: 3rem;
  --copyright-text-size: 2.5rem;

  --primary-dark: #111827;
  --primary-regular: #1E3A8A;
  --primary-light: #3B82F6;
  --base-white: #F9FAFB;
  --base-green: #10B981;
  --basse-yellow: #FACC15;
}

* * {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  min-height: 97vh;
  max-width: 100vw;
  box-sizing: border-box;
}

body * {
  font-family: cursive;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav * {
  margin: 0;
  padding: 0px;

}

nav {
  height: 5vh;
  width: 100%;
  margin: 0px;
  padding: 0px;

  background-color: #3B82F6;
  background-image: linear-gradient(to right, hsl(224, 64%, 33%), #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6, #3B82F6);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10%;
  margin-left: 1%;
}


.nav-anchor-text {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--base-white);
  font-size: var(--nav-anchor-text-size);
}

.nav-anchor-logo {
  width: 100%;
}

.nav-logo {
  width: 4%;

  padding: 15px;
}

/* Banner image */
#hero {
  height: 70vh;
  width: 100%;
  background-image: url(../../../assets/banner.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-overlay {

  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 4%;

}

.header {
  width: 48%;
  color: var(--base-white);
}

.hero-header {
  font-size: var(--hero-text-size);
}

.hero-subheader {
  font-size: var(--hero-subtext-size);
}

.cta-button {
  font-size: var(--hero-subtext-size);
  border-radius: 10px;

  font-weight: bold;

  color: var(--base-white);
  background-color: var(--primary-light);
  border: none;
  outline: 5px solid var(--primary-regular);

  padding: 1% 3% 1% 3%;

  margin-top: 5%;
  margin-left: 5%;

  cursor: pointer;

  transition: background-color 0.3s ease, outline-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

/* BEYOND THIS POINT IS  */
/*     ABOUT PAGE        */

#about {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-header {
  padding-top: 4%;
  padding-left: 5%;
  font-size: var(--section-header-size);
  font-weight: bold;

  color: var(--primary-light);

}


.about-desc-container {

  height: 50%;
  width: 100%;
  background-color: var(--primary-light);

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10%;

  font-size: var(--section-subheader-size);
  padding-left: 5%;

}

.about-description {
  width: 50%;

}

.about-description h2 {
  width: 100%;
  color: var(--base-white);
}


.about-img-container {
  height: 100%;
  width: 50%;

  position: relative;
}

.about-img {
  height: 550px;
  width: 50%;

  position: absolute;
  bottom: 20%;
  left: 25%;

  border-radius: 10px;
}

/* BEYOND THIS POINT IS */
/*    FEATURES PAGE     */

#features {
  height: 70vh;
  width: 100%;
}

.features-header {
  height: 20%;
  width: 100%;
  font-size: var(--section-header-size);
  text-align: center;
  color: var(--primary-light);
}

.card-container {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 3%;
}

.card {
  height: 45vh;
  width: 15%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4); */

  border-radius: 10px;

  overflow: hidden;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-figure {
  height: 100%;
  width: 100%;
}

.feature-card-img {
  width: 100%;
  border-bottom: 2px solid black;
}

.card-details {
  padding-left: 10%;
  padding-bottom: 15%;
  width: 100%;

  color: var(--base-white);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.text-class {
  translate: 0px 27%;
  scale: 1.7;
}

.card-1 {
  object-fit: cover;
  object-position: top;
  background-color: var(--basse-yellow);
}

.card-2 {
  background-color: var(--base-green);

}

.card-3 {
  background-color: var(--primary-light);
}

.card-header {
  font-size: var(--card-header-size);
}

.card-description {
  font-size: var(--card-text-size);

}

/* BEYOND THIS POINT IS */
/*    FOOTER PAGE     */


footer {
  height: 40vh;
  width: 100%;
  background-color: var(--primary-dark);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10%;
  padding: 7%;
}

.contact-button {
  height: 30%;
  width: 25%;
  font-size: var(--contact-btn-txt-size);
  font-weight: bold;

  border: none;
  border-radius: 10px;

  color: var(--base-white);
  background-color: var(--primary-light);
  outline: 5px solid var(--primary-regular);

  transition: background-color 0.3s ease, outline-color 0.3s ease, color 0.3s ease;

  cursor: pointer;
}

footer h3 {
  color: var(--base-white);
  font-size: var(--copyright-text-size);
}

hr {
  border-radius: 50px;
  height: 3px;
  width: 90%;
  border: none;
  background-color: var(--base-white);
}

@media (min-width: 480px) {
  :root {
    --nav-anchor-text-size: 1rem;
    --hero-text-size: 5.4rem;
    --hero-subtext-size: 1.7em;
    --section-header-size: 2rem;
    --section-subheader-size: 0.7rem;
    --contact-btn-txt-size: 1.4rem;

    --copyright-text-size: 1.1rem;
  }

  .hero-header {
    width: 100%;
  }

  .hero-subheader {
    width: 100%;
  }

  .nav-logo {
    width: 15%;
  }

  /* ABOUT  */

  #about {
    height: 35vh;

  }

  .about-header {
    padding-top: 8%;
  }

  .about-description {
    width: 100%;
  }

  .about-img-container {
    display: none;
  }

  /* FEATURES  */

  #features {
    height: 150vh;
    padding-bottom: 10%;
  }

  .features-header {

    padding-top: 20%;
  }

  .card-container {
    flex-direction: column;
    height: 80%;
  }

  .card {

    width: 50%;
  }

  /* FOOTER */
  footer .contact-button {
    height: 15%;
    width: 35%;
  }

}

@media (min-width: 768px) {
  :root {
    --nav-anchor-text-size: 1.7rem;
    --hero-text-size: 5.7rem;
    --hero-subtext-size: 1.7em;

    --section-header-size: 2.5rem;
    --section-subheader-size: 0.9rem;
    --contact-btn-txt-size: 1.4rem;

    --copyright-text-size: 1.1rem;
  }

  #hero {
    height: 50vh;
  }

  .hero-header {
    width: 100%;
  }

  .hero-subheader {
    width: 100%;
  }

  .nav-logo {
    width: 10%;
  }

  /* ABOUT  */

  #about {
    height: 50vh;
  }

  .about-header {
    padding-top: 5%;
  }

  .about-description {
    width: 100%;
  }

  .about-img-container {
    /* display: inline-block; */
    display: none;
  }

  /* FEATURES  */

  #features {
    height: 175vh;
    padding-bottom: 10%;
  }

  .features-header {
    padding-top: 10%;
  }

  .card-container {
    flex-direction: column;
    height: 80%;
  }

  .card {
    width: 40%;
  }

  /* FOOTER */
  footer .contact-button {
    height: 15%;
    width: 35%;
  }

}